.button {
  display: inline-block;
  color: $yellow;
  text-shadow: 0px 0px 0px #fff;
}

.button_type_second {
  padding: 14px 40px;
  background: $yellow;
  color: #000;
  font-weight: bold;
  border-radius: 8px;
  transition: box-shadow 0.2s ease-in;
}

@media (hover: hover) and (pointer: fine) {
  .button_type_second:hover {
    box-shadow: 0 0 20px 0 $yellow;
  }
  .button_type_first:hover {
    text-decoration: underline;
  }
}
