.culture-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
  padding-top: 60px;
  gap: 80px;

  @include phones {
    gap: 10px;
    flex-direction: column;
    margin-bottom: 100px;
  }
}

.culture__main-title {
  font-size: calc(10px + 46 * (100vw / 1280));
  font-weight: bold;
  margin-bottom: 28px;

  @include phones {
    font-size: 24px;
  }
}

.culture__desc {
  flex: 0 1 45%;

  @include phones {
    width: 100%;
    margin-bottom: 20px;
  }
}

.culture__img-box {
  flex: 0 1 45%;

  @include phones {
    width: 100%;
  }
}

.culture__img-box img {
  width: 100%;
  height: auto;
}

.culture__text {
  margin-bottom: 28px;
  text-shadow: 1px 1px black;
}
