.hero {
  margin-bottom: 400px;

  @include phones {
    margin-bottom: 40px;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: calc(50px + 46 * (100vw / 1280));
  font-weight: 700;
  opacity: 0;
  animation: blink 2s forwards;

  @include phones {
    font-size: rem(40px);
  }
}

h2 {
  font-size: calc(20px + 46 * (100vw / 1280));
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100px);

  @include phones() {
    transform: translateX(0px);
  }
}

.title__container {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.title__main-title {
  animation: blinkInfinite 10s infinite;
  text-align: center;
}

.title__title {
  font-size: 88px;
  font-weight: 100;
  margin-bottom: 125px;
  opacity: 0;
  animation: blink 2s forwards;
  animation-delay: 2s;

  @include phones() {
    font-size: 60px;
    margin-bottom: 40px;
  }
}

.title__button::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 16px;
  background: url(../images/arrow_downward_24px.png);
  transform: rotate(90deg);
  filter: brightness(100);
}

.title__container a {
  transform: translateX(-100px);

  @include phones {
    transform: translateX(0px);
  }
}

.suptitle {
  color: $yellow;
  text-transform: uppercase;
  @include phones {
    font-size: 16px;
  }
}

.title__button {
  text-align: center;
}

#scrollButton {
  opacity: 0;
  animation: blinkInfinite 4s infinite;
  animation-delay: 3.4s;
}

@keyframes blink {
  0% {
    opacity: 0;
    filter: blur(6px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes blinkInfinite {
  0% {
    opacity: 0;
    filter: blur(6px);
  }

  50% {
    opacity: 1;
    filter: blur(0px);
  }

  100% {
    opacity: 0;
    filter: blur(6px);
  }
}

.hero .social {
  position: absolute;
  display: flex;
  left: 0;
  top: 50%;
  transform: rotate(90deg);

  @include phones() {
    display: none;
  }
}

.hero .social__text {
  margin-right: 20px;
}

.hero .social__img {
  margin-right: 14px;
  transform: rotate(-90deg);
}
