.menu {
  @include phones {
    width: 100%;
  }
}

.menu__list {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.menu__item {
  display: flex;
  transition: color 0.2s linear;
}

@media (hover: hover) and (pointer: fine) {
  .menu__item:hover {
    color: $yellow;
  }
}
