.search {
  opacity: 0.4;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
  position: relative;
  & input {
    margin-left: 4px;
    font-size: 18px;
    border: transparent;
    padding: 8px;
    outline: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    &::placeholder {
      color: #fff;
      font-size: 16px;
    }
  }
  @include phones {
    display: none;
  }
  & input {
    width: 150px;
    padding-right: 40px;
  }
}

.search i {
  position: absolute;
  right: 10px;
}