.search {
  opacity: 0.4;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
  & input {
    margin-left: 4px;
    font-size: 18px;
    border: transparent;
    padding: 8px;
    outline: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    &::placeholder {
      color: #fff;
      font-size: 16px;
    }
  }
  @include phones {
    display: none;
  }
  & input {
    width: 120px;
  }
}
