.swiper,
.swiper-slide {
  height: 700px;
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: rgba(255, 193, 120, 0.6);
    right: 10px;
    padding: 30px;
    color: white;
    
    @include phones {
      background-color: rgba(255, 193, 120, 0);
  }
}