//variables
$yellow: #FFC178;
$containerWidth: 1920px;
$phones: 480px;
$baseFontSize: 16px;

//adaptive
@function rem($px) {
  @return $px / $baseFontSize + 0rem;
}

@mixin phones {
  @media (max-width: $phones) {
    @content;
  }
}

// import
@import 'layout.scss';
@import 'hero.scss';
@import 'parallax.scss';
@import 'menu.scss';
@import 'search.scss';
@import 'section-1.scss';
@import 'section-2.scss';
@import 'section-3.scss';
@import 'footer.scss';
@import 'btn-up.scss';
@import 'button.scss';
@import 'swiper.scss';