.section-1 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(250px);
  padding-top: rem(100px);
  @include phones {
    flex-direction: column;
    margin-bottom: 80px;
  }
}

.section-1__img-box {
  width: 40%;
  @include phones {
    width: 100%;
  }
}

.section-1__desc {
  width: 40%;
  @include phones {
    width: 100%;
    margin-top: 20px;
  }
}

.section-1__suptitle {
  color: #FFC178;
}

.main-title {
  font-size: rem(64px);
  font-weight: bold;
  margin-bottom: 28px;
  @include phones() {
    font-size: rem(34px);
  }
}

.section-1__text {
  margin-bottom: 28px;
  text-shadow: 1px 1px black;
}
