.section-1 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 250px;
  padding-top: 50px;
  @include phones {
    flex-direction: column;
    width: 95%;
    margin-bottom: 80px;
  }
}

.section-1__img-box {
  width: 40%;
  @include phones {
    width: 100%;
  }
}

.section-1__desc {
  width: 40%;
  @include phones {
    width: 100%;
    margin-top: 20px;
  }
}

.section-1__suptitle {
  color: #FFC178;
}

.main-title {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 28px;
  @include phones() {
    font-size: 34px;
  }
}

.section-1__text {
  margin-bottom: 28px;
  text-shadow: 1px 1px black;
}

.button {
  display: inline-block;
  color: $yellow;
}

.button_type_first::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 16px;
  background: url(../images/arrow_downward_24px.png);
}

.button_type_first:hover {
  text-decoration: underline;
}

.button_type_second {
  padding: 14px 40px;
  background: $yellow;
  color: #000;
  font-weight: bold;
  border-radius: 8px;
  transition: box-shadow .2s linear;
}

.button_type_second:hover {
  box-shadow: 0 0 20px 0 $yellow;
}