.section-2__bg {
  position: relative;
  min-height: 100vh;
}

.section-2__bg img {
  height: auto;
  max-height: 100%;
}

.section-2__bg--first {
  background: url(../images/image\ 2.png);
}

.section-2__bg--second {
  background: url(../images/d3804a518b3778d10bb56bff09aa310d.jpeg);
}

.section-2__bg--third {
  background: url(../images/1920x1280-px-Bali-clouds-field-Indonesia-landscape-663216-wallhere.com.jpg);
}

.section-2__content {
  position: absolute;
  display: block;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 80%;
}

.section-2__text {
  margin-bottom: 40px;
  text-shadow: 1px 1px black;
}

.section-2 .container {
  margin-bottom: 250px;
  @include phones {
    margin-bottom: 80px;
  }
}